.todoGenerator {
    width: 50%;
    margin: auto;
}
.todoInput {
    margin: auto;
    width:100%;
    height:25px;
    font-family: "Roboto Slab";
    font-size: 18px;
    background-color: #2e2b3f;
    transition-duration: 0.5s;
    color:white;
}
.todoInput:hover {
    background-color: #6b6693;
}
.todoInput:focus {
    background-color: #3d3a54;
    transition-duration: 0.5s;
}
::placeholder {
    text-align: center;
}
.btnAdd {
    width: 100%;
    font-family: "Roboto Slab";
    font-size: 18px;
    cursor: pointer;
    background-color: #aba42a;
    color:#1e1d2a;
    transition-duration: 0.5s;
}
.btnAdd:hover {
    background-color: #555215;
    color:white
}